<header>
  <div class="container">
    <div class="app-header">
      <h1 class="text-center">SEO (Search Engine Optimization)</h1>
      <div class="row">
        <div class="col-lg-6">
          <p>Want to increase traffic to your website. We can help with Search Engine Optimization (SEO) to increase your traffic from Google, Bing and many other global search Engines.

            </p>
        </div>
        <div class="col-lg-6">
          <p class="text-center">Get a Free SEO Assessment today on one of your website(s)</p>
          <div class="card">
            <div class="card_img">
              <img src="assets/img/seo-1.jpg" alt="SEO Image" class="img-fluid free-img">
              <div class="hover-overlay effect-scale">
                <div class="img_overlay-container">
                  <div class="img_overlay-icon">
                    <p class="text-center"><a routerLink="/free-seo-assessment" class="btn btn-info">Free SEO Assessment</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</header>

<div class="container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="">Home</a></li>
    <li class="breadcrumb-item active">SEO</li>
  </ol>

  <div class="row">
    <div class="col-lg-6"></div>
    <div class="col-lg-6">
      <img src="assets/img/title-description.jpg" alt="">
    </div>
  </div>

  <section>
    <h2 class="text-center">SEO Packages</h2>
    <table class="table table-bordered table-hover text-center">
      <thead>
        <tr class="lead">
          <th class="table-light" scope="col"># <br>&nbsp;</th>
          <th class="table-secondary" scope="col">Basic <br> <span class="text-info">$50</span></th>
          <th class="table-primary" scope="col">Median <br> <span class="text-info">$100</span></th>
          <th class="table-info" scope="col">Advance <br> <span class="">$200</span></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Tittle (All Pages)</th>
          <td class="table-success"><i class="fa fa-check"></i></td>
          <td class="table-success"><i class="fa fa-check"></i></td>
          <td class="table-success"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <th scope="row">Description</th>
          <td class="table-warning"><i class="fa fa-check"></i> (Home Page Only)</td>
          <td class="table-success" colspan="2"><i class="fa fa-check"></i> (Free for every 10 Pages)</td>
        </tr>
        <tr>
          <th scope="row">Google SEO</th>
          <td class="table-success"><i class="fa fa-check"></i></td>
          <td class="table-success"><i class="fa fa-check"></i></td>
          <td class="table-success"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <th scope="row">Bing SEO</th>
          <td class="table-danger"><i class="fa fa-times"></i></td>
          <td class="table-success"><i class="fa fa-check"></i></td>
          <td class="table-success"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <th scope="row">Yahoo SEO</th>
          <td class="table-danger"><i class="fa fa-times"></i></td>
          <td class="table-danger"><i class="fa fa-times"></i></td>
          <td class="table-success"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <th scope="row">Social Media SEO</th>
          <td class="table-danger"><i class="fa fa-times"></i></td>
          <td class="table-danger"><i class="fa fa-times"></i></td>
          <td class="table-success"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <th scope="row">Norton Safe Web</th>
          <td class="table-danger"><i class="fa fa-times"></i></td>
          <td class="table-danger"><i class="fa fa-times"></i></td>
          <td class="table-success"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
          <th scope="row">McAfree SiteAdvisor</th>
          <td class="table-danger"><i class="fa fa-times"></i></td>
          <td class="table-danger"><i class="fa fa-times"></i></td>
          <td class="table-success"><i class="fa fa-check"></i></td>
        </tr>
      </tbody>
    </table>
  </section>
  <h2 class="text-center">FAQs</h2>
  <app-contact></app-contact>
</div>