<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <img src="assets/img/Logo-white.png" alt="Shelley Software Development Logo" class="img-fluid">
                <div class="social-media">
                    <a href="https://www.facebook.com/ShelleySoftwareDev/" target="_blank" class="btn facebook"><i class="ion-social-facebook"></i></a>
                    <a href="https://www.instagram.com/ShelleySoftDev/" target="_blank" class="btn instagram"><i class="ion-social-instagram"></i></a>
                    <a href="https://www.linkedin.com/company/shelley-software-development/" target="_blank" class="btn linkedin"><i class="ion-social-linkedin"></i></a>
                    <a href="https://plus.google.com/116411621603040567130" target="_blank" class="btn google-plus"><i class="ion-social-googleplus"></i></a>
                </div>
            </div>
            <div class="col-lg-3 links">
                <h4>Links</h4>
                <ul>
                    <li><a routerLink="/">Home</a></li>
                    <li><a routerLink="/free-seo-assessment">Free SEO Assessment</a></li>
                    <li><a routerLink="/free-social-media-audit">Free Social Media Audit</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h4>Details</h4>
                <p>Email <a href="mailto:scott@shelleysoftdev.com.au">scott@shelleysoftdev.com.au</a></p>
                <p>Pone Number <a href="tel:0400907747">0400 907 747</a></p>
                <p>ABN: 92 324 044 048</p>
                <div style="overflow: hidden;">
                    Like our Facebook page
                    <div data-colorscheme="dark" class="fb-like" data-href="https://www.facebook.com/ShelleySoftwareDev" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
                </div>
                <div id="linkedinBtn" class="linked-in">
                    Follow us on LinkedIn
                </div>
            </div>
            <div class="col-lg-3">
                <!-- <h4>Instagram</h4> -->
                <div class="g-page" data-width="252" data-href="https://plus.google.com/116411621603040567130" data-rel="publisher"></div>
            </div>
        </div>
        <hr>
        <p class="text-center">&copy; 2017 - Shelley Software Development</p>
    </div>
</footer>