<header>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="ssd-right">
          <img src="assets/img/Logo-white-medium.png" alt="Shelley Software Development Logo" class="img-fluid">
          <p class="lead">
            Partner
            <br>
            With
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <a href="https://www.socialbullmedia.com.au" target="_blank">
          <img src="assets/img/socialbull-media.png" alt="Socialbull Media Logo" class="img-fluid">
          <p class="lead text-center">Social Media Marketing</p>
        </a>
      </div>
      <div class="col-md-12">
        <h1 class="text-center text-success">Free Social Madia Strategy</h1>
      </div>
    </div>
    
  </div>
</header>

<div class="container">
  <form action="">
    <p class="text-center">Are you running short of ideas and struggle to capture more followers?</p>
    <div class="row">
      <div class="col-lg-6">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="txtFirstName">First Name</label>
              <input type="text" class="form-control" id="txtFirstName" placeholder="Enter First Name">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="txtSurname">Surname</label>
              <input type="text" class="form-control" id="txtSurname" placeholder="Enter Surname">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="txtEmail">Email Address</label>
          <input type="email" class="form-control" id="txtEmail" placeholder="Enter Email Address">
        </div>
        <div class="form-group">
          <label for="txtNumber">Contact Number</label>
          <input type="text" class="form-control" id="txtNumber" placeholder="Enter Contact Number">
        </div>
        <div class="form-group">
          <label for="txtInstagramName">What is your Instagram Display Name? </label>
          <input type="text" class="form-control" id="txtInstagramName" placeholder="Enter Instagram Display Name">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label for="sltInfluence">Select the platform you influence most on?</label>
          <select class="form-control" id="sltInfluence">
            <option>Instagram</option>
            <option>Facebook</option>
            <option>YouTube</option>
            <option>Twitter</option>
            <option>LinkedIn</option>
            <option>Other</option>
          </select>
        </div>
        <div class="form-group">
          <label>Do you currently promote and market yourself?</label>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="rdoMarketYourself" id="rdoMarketYourself1" value="Yes">
              Yes
            </label>
          </div>
          <div class="form-check">
          <label class="form-check-label">
              <input type="radio" class="form-check-input" name="rdoMarketYourself" id="rdoMarketYourself2" value="No" checked>
              No
            </label>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>