<section class="section-form" id="id-form">
  <h2 class="text-center">Requirements Form</h2>
  <p class="text-center">As an Analysts, We can help you with your system needs. You can download the ‘Requirments Form’ and fill it out. Send it back to us when you are finished. Then we can work out budget/quote, timeframe, in-scope/out-scope, requirements and more.</p>
  <p class="text-center text-success">Downloads are available in these formats!</p>
  <div class="row" [@reqState]="state">
    <div class="col-md-4">
      <a href="assets/doc/Requirements Form.pdf" download><img src="assets/img/PDFicon.png" alt="PDF Icon" class="img-responsive center-block formImg"></a>
    </div>
    <div class="col-md-4">
      <a href="assets/doc/Requirements Form.docx" download><img src="assets/img/Wordicon.png" alt="Word Icon" class="img-responsive center-block formImg"></a>
    </div>
    <div class="col-md-4">
      <a href="assets/doc/Requirements Form.pages" download><img src="assets/img/Pagesicon.png" alt="Pages Icon" class="img-responsive center-block formImg"></a>
    </div>
  </div>

  <h2 class="text-center">Change Request Form</h2>
  <p class="text-center">If you already have a website or a system that you want changes made. Download the 'Change Request Form', fill it out and send it back to us with the 'Requirments Form'.</p>
  <p class="text-center text-success">Downloads are available in these formats!</p>
  <div class="row" [@changeState]="state">
    <div class="col-md-4">
      <a href="assets/doc/Change Request Form.pdf" download><img src="assets/img/PDFicon.png" alt="PDF Icon" class="img-responsive center-block formImg"></a>
    </div>
    <div class="col-md-4">
      <a href="assets/doc/Change Request Form.docx" download><img src="assets/img/Wordicon.png" alt="Word Icon" class="img-responsive center-block formImg"></a>
    </div>
    <div class="col-md-4">
      <a href="assets/doc/Change Request Form.pages" download><img src="assets/img/Pagesicon.png" alt="Pages Icon" class="img-responsive center-block formImg"></a>
    </div>
  </div>
  <p class="text-center"><a class="text-warning" target="_blank" href="assets/doc/Project Plan Documentation Scott Shelley.pdf">Click here</a> to view an example of a fully analysed system</p>
</section>
