<div class="head-color" id="top">
  <div class="container">
    <nav class="navbar">
      <div class="navbar-collapse display-small-none">
        <ul class="nav nav-tabs" @navTopState>
          <li class="nav-item">
            <a class="nav-link active" href="#top">Shelley Software Development</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#id-technology">Technology</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#id-form">Downloadable forms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#id-cloud">The Cloud</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#id-contact">Contact Us</a>
          </li>
        </ul>
      </div>
      
      <div style="margin-left: auto;">
        <ul class="nav nav-tabs" @navBottomState>
          <li class="nav-item">
            <a class="nav-link" href="tel:0400907747">CALL 0400 907 747</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="mailto:scott@shelleysoftdev.com.au">or Email Us</a>
          </li>
        </ul>
      </div>
    
    </nav>
    <header>
      <h1 class="text-success" @h1State>Shelley Software Development</h1>
      <div class="row">
        <div class="col-lg-6">
          <img src="assets/img/Devices.png" alt="Image of all Device's" class="img-fluid" @deviceState>
        </div>
        <div class="col-lg-6">
          <p class="text-center move-down">At Shelley Software Development, we work hard to bring you the latest technologies for your business and organisation. With the leading cloud providers, such as Microsoft Azure, Amazon AWS, and Google Cloud Platform. We work on websites to mobile apps and more, all running in the cloud.</p>
        </div>
        <div class="col-lg-6">
          <p class="text-center">Get a Free SEO Assessment today on one of your website(s)</p>
          <div class="card">
            <div class="card_img">
              <img src="assets/img/seo-1.jpg" alt="SEO Image" class="img-fluid free-img">
              <div class="hover-overlay effect-scale">
                <div class="img_overlay-container">
                  <div class="img_overlay-icon">
                    <p class="text-center"><a routerLink="/free-seo-assessment" class="btn btn-info">Free SEO Assessment</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <p class="text-center">Get a Free Social Media Audit from our partner <a href="https://www.socialbullmedia.com.au" target="_blank">Social Bull Media</a></p>
          <div class="card">
            <div class="card_img">
              <img src="assets/img/Social-Media-640.jpg" alt="Social Media Image" class="img-fluid free-img">
              <div class="hover-overlay effect-scale">
                <div class="img_overlay-container">
                  <div class="img_overlay-icon">
                      <p class="text-center"><a routerLink="/free-social-media-audit" class="btn btn-info">Free Social Media Audit</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
  </div>
</div>
  
<div class="container">
  <section class="section-info" @infoState>
    <h2 class="text-center">Services We Offer</h2>
    <div class="services-paragraph">
      <p>We provide a board range of services, that your business or organisation can take advantage of</p>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h3 class="text-center">Web</h3>
      </div>
      <div class="col-lg-4">
        <h4><i class="fa fa-id-card-o"></i> Web Design</h4>
        <p>We can design your new or redesign your existing website, through different layouts, content production, and graphic design.</p>
      </div>
      <div class="col-lg-4">
        <h4><i class="fa fa-desktop"></i> Web Development</h4>
        <p>We can take your design and turn it into a Progressive Web App (PWA) and/or Single Page Application (SPA). We use Angular 5 and Node.js</p>
      </div>
      <div class="col-lg-4">
        <h4><i class="fa fa-google"></i> SEO</h4>
        <p>Want to increase traffic to your website. We can help with Search Engine Optimization (SEO) to increase your traffic from Google, Bing and many other global search Engines.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h3 class="text-center">Software</h3>
      </div>
      <div class="col-lg-4">
        <h4><i class="fa fa-mobile"></i> Mobile Apps</h4>
        <p>Require a mobile app for smartphone and/or tablet? We can develop an app for either the IOS or Android platform, while integrating it with your systems.</p>
      </div>
      <div class="col-lg-4">
        <h4><i class="fa fa-cloud"></i> Cloud Development</h4>
        <p>Want to take a step into the future with cloud systems, while reducing costs? We can help migrate to cloud systems including but not limited to Microsoft Azure and Amazon AWS.</p>
      </div>
      <div class="col-lg-4">
        <h4><i class="icon ion-android-bulb"></i> Solution Analyse</h4>
        <p>Unsure or need help with your requirements. Don't worry we can help you fully analyses your requirements and design of your system.</p>
        <p class="text-center"><a class="text-warning" target="_blank" href="assets/doc/Project Plan Documentation Scott Shelley.pdf">Click here</a> to view an example of our work</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h3 class="text-center">Other</h3>
      </div>
      <div class="col-lg-4">
        <h4><i class="fa fa-wrench"></i> Maintenance with SEO</h4>
        <p>Ongoing maintenance including SEO of your system for a fixed term. During this period, we will schedule any required work/upgrades and recommend any new features you may require into the future. Only available for systems we have developed.</p>
      </div>
      <div class="col-lg-4">
        <h4><i class="icon ion-hammer"></i> Changes Made</h4>
        <p>Need a change, update or upgrade to your current system? We can do it through support and many different services we provide.</p>
      </div>
      <div class="col-lg-4">
        <h4><i class="fa fa-phone"></i> Support Plan</h4>
        <p>We can support or create a support plan for your system. We will be available to help you get your system up and running after any issue. Only available for systems we have developed and only over a fixed term.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h3 class="text-center"><i class="fa fa-database"></i> Full Software Solution</h3>
        <p class="text-center lead">We can provide a full software solution, by providing all the above in one package, while enabling it to synchronise between all applications and systems.</p>
      </div>
    </div>
  </section>

  <section class="section-team" @infoState>
    <h2 class="text-center">Team</h2>
    <div class="row">
      <div class="col-lg-6"></div>
      <div class="col-lg-6">
        <div class="row">
          <div class="col-6">
            <p><span class="lead">Scott Shelley</span></p>
            <ul>
              <li>Director of Shelley Software Development</li>
              <li>Web Designer and Developer</li>
              <li>Software Developer</li>
            </ul>
            <div class="g-follow" data-annotation="bubble" data-height="24" data-href="//plus.google.com/u/1/102969387550453898559" data-rel="author"></div>
            <div id="linkedInMember" class="linked-in"></div>
          </div>
          <div class="col-6">
            <img class="my-profile-img" src="assets/img/Profile.png" alt="My Profile Picture" @profileState>
          </div>
        </div>
      </div>
    </div>
  </section>

  <app-forms></app-forms>
</div>
  <app-technology></app-technology>
<div class="container">
  <app-cloud id="id-cloud"></app-cloud>

  <app-contact></app-contact>

  <section class="section-socalbull-media">
    <div class="row">
      <div class="col-lg-8"></div>
      <div class="col-lg-4">
        <img src="assets/img/Logo-white.png" alt="Shelley Software Development Logo" class="img-fluid">
        <p class="lead text-center" style="margin-bottom: 0;">Partner With</p>
        <a href="https://www.socialbullmedia.com.au" target="_blank">
          <img src="assets/img/socialbull-media.png" alt="Socialbull Media Logo" class="img-fluid">
          <p class="lead text-center">Social Media Marketing</p>
        </a>
        
      </div>
    </div>
  </section>

</div>