<header>
  <div class="container">
    <div class="app-header">
      <h1 class="text-center">Web Development</h1>
      <div class="row">
        <div class="col-lg-6">
          <p>Web development is developing software applications for the web.
            “Development” is a term that means the creation of software from
            specifying the requirements through to testing and user acceptance.
            A large section of web development involves the creation of the
            code “programming”.</p>
        </div>
        <div class="col-lg-6">
        </div>
      </div>
    </div>
    
  </div>
</header>

<div class="container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="">Home</a></li>
    <li class="breadcrumb-item active">Web Development</li>
  </ol>

<p>
  web-development works!
</p>
</div>
